attrs==23.1.0
certifi==2023.5.7
chardet==5.1.0
charset-normalizer==3.1.0
ckanapi==4.0
click==8.0.1
colorama==0.4.6
decorator==5.1.1
docopt==0.6.2
dpckan==0.1.21
frictionless==4.16.6
frictionless-ckan-mapper==1.0.6
idna==3.4
isodate==0.6.1
jsonschema==4.17.3
markdown-it-py==2.2.0
mdurl==0.1.2
petl==1.7.9
Pygments==2.15.1
pyrsistent==0.19.3
python-dateutil==2.8.2
python-dotenv==0.19.1
python-slugify==8.0.1
PyYAML==6.0
requests==2.30.0
rfc3986==2.0.0
rich==13.3.5
shellingham==1.5.0.post1
simpleeval==0.9.13
six==1.16.0
stringcase==1.2.0
text-unidecode==1.3
typer==0.9.0
typing-extensions==4.5.0
urllib3==2.0.2
validators==0.18.2
